# Q1: Write a python program to scrape data for ‚ÄúData Analyst‚Äù Job position in ‚ÄúBangalore‚Äù location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.

In [14]:
!pip install selenium

# Let's import all required libraries

import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time                                      #use to stop search engine for few seconds



driver = webdriver.Chrome()

driver.get("https://www.naukri.com/")

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [15]:
driver.get("https://www.naukri.com/")

In [16]:
design = driver.find_element(By.CLASS_NAME,"suggestor-input")
design.send_keys("Data Analyst")

In [17]:
loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
loc.send_keys("Bangalore")

In [18]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [19]:
job_titles = []
job_locations = []
company_names = []
experience_requireds = []

In [20]:
title_tag =driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_titles.append(title)
    
    
location_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location=i.text
    job_locations.append(location)
    
    
company_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_names.append(company)
    
experience_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tag[0:10]:
    experience=i.text
    experience_requireds.append(experience)

In [21]:
print(len(job_titles),len(job_locations),len(company_names),len(experience_requireds))

10 10 10 10

In [22]:
import pandas as pd
df=pd.DataFrame({"Title":job_titles,"Location":job_locations,"Company_Name":company_names,"Experience":experience_requireds})
df

,Title,Location,Company_Name,Experience
0,Data Analyst,Bangalore/Bengaluru,Eastvantage,4-6 Yrs
1,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",Delhivery,1-3 Yrs
2,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,2-5 Yrs
3,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Boomi Software,1-5 Yrs
4,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synechron,5-8 Yrs
5,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synchron Infotech,5-8 Yrs
6,Data Analyst I,Bangalore/Bengaluru,Cerner,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,Persolkelly India,0-2 Yrs
8,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Truthfools,3-8 Yrs
9,Data Analyst | HyVee,Bangalore/Bengaluru,Talent500,3-5 Yrs

# Q2:Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [36]:

import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time                                      #use to stop search engine for few seconds



driver = webdriver.Chrome()

driver.get("https://www.naukri.com/")

In [37]:
design = driver.find_element(By.CLASS_NAME,"suggestor-input")
design.send_keys("Data Scientist")

In [41]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [42]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [58]:
Job_titles = []
Job_locations = []
Company_names = []

In [61]:
job_tag = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in job_tag[0:10]:
    job=i.text
    Job_titles.append(job)
    
loc_tag= driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc_tag[0:10]:
    loc=i.text
    Job_locations.append(loc)
    
company_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    Company_names.append(company)

In [62]:
print(len(Job_titles),len(Job_locations),len(Company_names))

10 10 10

In [64]:
import pandas as pd
df=pd.DataFrame({"Title":Job_titles,"Location":Job_locations,"Company_Name":Company_names})
df

,Title,Location,Company_Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,"Data Scientist -ML, DL, Python",Bangalore/Bengaluru,Capco
4,DATA SCIENTIST,Bangalore/Bengaluru,Walmart
5,Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Noid...",HCLTech
6,Data Scientist with Retail Domain,"Bangalore/Bengaluru, Kolkata, Mumbai, Nagpur, ...",TRH Consultancy Services
7,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services
8,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services
9,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs

In [1]:
import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time                                      #use to stop search engine for few seconds



driver = webdriver.Chrome()
driver.get("https://www.naukri.com/")

In [2]:
design = driver.find_element(By.CLASS_NAME,"suggestor-input")
design.send_keys("Data Scientist")

In [3]:
# Click the search button
search_button = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_button.click()

In [4]:
# Apply location filter
location_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
location_filter.click()

In [5]:
# Apply salary filter
salary_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary_filter.click()

In [8]:
job_titles = []
job_locations = []
company_names = []
experience_requireds = []

In [9]:
title_tag =driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_titles.append(title)
    
    
location_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location=i.text
    job_locations.append(location)
    
    
company_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_names.append(company)
    
experience_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tag[0:10]:
    experience=i.text
    experience_requireds.append(experience)

In [10]:
print(len(job_titles),len(job_locations),len(company_names),len(experience_requireds))

10 10 10 10

In [11]:
import pandas as pd
df=pd.DataFrame({"Title":job_titles,"Location":job_locations,"Company_Name":company_names,"Experience":experience_requireds})
df

,Title,Location,Company_Name,Experience
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist/ Senior Data Scientist/ Manager...,"Noida, Kolkata, Mumbai, Chandigarh, Hyderabad/...",Dreambig It Solutions India,1-6 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Data Scientist,Noida,Times Internet,3-8 Yrs
5,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
6,Intern,Gurgaon/Gurugram,Tower Research Capital,0-1 Yrs
7,Hiring For Data Scientist,Remote,Infogain,4-9 Yrs
8,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
9,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner,2-4 Yrs

# 4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price

In [40]:
import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time                                      #use to stop search engine for few seconds



driver = webdriver.Chrome()

driver.get("https://www.flipkart.com/")

In [41]:
designation=driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
designation.send_keys('sunglasses')

In [42]:
Search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
Search.click()

In [43]:
brand = []
ProductDescription = []
Price = []

In [61]:
start=0
end=3
for page in range(start,end):
    br = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in br[0:100]:
        brand.append(i.text)
        
    Product = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Product[0:100]:
        ProductDescription.append(i.text)
        
    Pricess = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Pricess[0:100]:
        Price.append(i.text)
    
        
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

In [62]:
print(len(brand),len(ProductDescription),len(Price))

120 108 120

In [63]:
Brand=brand[0:100]
len(Brand)

100

In [64]:
Product_Descriptionn = ProductDescription[0:100]
len(Product_Descriptionn)

100

In [65]:
Prices = Price[0:100]
len(Prices)

100

In [66]:
print(len(Brand),len(Product_Descriptionn),len(Prices))

100 100 100

In [67]:
import pandas as pd
df=pd.DataFrame({"Brand":Brand,"Product_Descriptionn":Product_Descriptionn,"Prices":Prices})
df

             Brand                               Product_Descriptionn Prices
0     Singco India  Riding Glasses, UV Protection Clubmaster, Wayf...   ‚Çπ359
1        ROYAL SON  UV Protection Rectangular, Retro Square Sungla...   ‚Çπ497
2        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...   ‚Çπ168
3             SRPM             UV Protection Wayfarer Sunglasses (50)   ‚Çπ194
4       iCopertina  UV Protection Retro Square Sunglasses (Free Size)   ‚Çπ199
..             ...                                                ...    ...
95       Elligator     Polarized, UV Protection Round Sunglasses (51)   ‚Çπ152
96   VINCENT CHASE          UV Protection Rectangular Sunglasses (50)   ‚Çπ850
97       ROYAL SON             UV Protection Wayfarer Sunglasses (56)   ‚Çπ379
98  Sheomy Fashion  by Lenskart Polarized, UV Protection Wayfarer ...   ‚Çπ399
99       New Specs  by Lenskart Polarized, UV Protection Retro Squ...   ‚Çπ269

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART

In [23]:
import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time                                      #use to stop search engine for few seconds



driver = webdriver.Chrome()

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [24]:
next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
next_button.click()

In [25]:
Rating = []
Review_summary = []
Full_review = []

In [26]:
start = 0
end = 3

for page in range(start,end):
    rate = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate[0:100]:
        Rating.append(i.text)
        
    review = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review[0:100]:
        Review_summary.append(i.text)
        
    full_review = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review[0:100]:
        Full_review.append(i.text)
        
    
    next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click
    time.sleep(5)

In [28]:
print(len(Rating),len(Full_review),len(Review_summary))

30 30 30

In [53]:
print(Review_summary)

['Mind-blowing purchase', 'Classy product', 'Terrific', 'Wonderful', 'Must buy!', 'Just wow!', 'Perfect product!', 'Fabulous!', 'Best in the market!', 'Worth every penny', 'Mind-blowing purchase', 'Classy product', 'Terrific', 'Wonderful', 'Must buy!', 'Just wow!', 'Perfect product!', 'Fabulous!', 'Best in the market!', 'Worth every penny', 'Mind-blowing purchase', 'Classy product', 'Terrific', 'Wonderful', 'Must buy!', 'Just wow!', 'Perfect product!', 'Fabulous!', 'Best in the market!', 'Worth every penny']

In [33]:
import time
from selenium.webdriver.common.by import By

start = 0
end = 5

for page in range(start, end):
    Rating.clear()  # Clear the lists before each iteration
    Review_summary.clear()
    Full_review.clear()
    
    rate = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate[0:100]:
        Rating.append(i.text)
        
    review = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for i in review[0:100]:
        Review_summary.append(i.text)
        
    full_review = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    for i in full_review[0:100]:
        Full_review.append(i.text)
        
    next_button = driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    
    time.sleep(5)

# Now you should have only one set of reviews in the lists without duplicates
print(Rating)
print(Review_summary)
print(Full_review)

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']
['Terrific purchase', 'Must buy!', 'Great product', 'Fabulous!', 'Excellent', 'Brilliant', 'Terrific purchase', 'Simply awesome', 'Awesome', 'Simply awesome']
['Value for money üòç', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Purple is best', 'It‚Äôs very good battery life and display and video quality and ther performance of iPhone.....üî•üî•üåà', 'Best camera ever', 'Excellent Phone.', 'Value for money üñ§üñ§', 'Buy it if you afford it üòú', 'I dreamt about this day from a long time.... Getting an iPhone with my own money.... Super happy and worth spending every penny', 'Really satisfied with the Product I received... It‚Äôs totally genuine and the packaging was also really good so if ur planning to buy just go for it.']

In [34]:
print(len(Rating),len(Review_summary),len(Full_review))

10 10 10

# Q6: Scrape data forfirst 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the 
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the b

In [61]:
import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time                                      #use to stop search engine for few seconds



driver = webdriver.Chrome()

driver.get('https://www.flipkart.com/')

In [68]:
designation=driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
designation.send_keys('sneakers')

In [69]:
Search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
Search.click()

In [70]:
brand = []
ProductDescription = []
Price = []

In [71]:
start=0
end=3
for page in range(start,end):
    br = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in br[0:100]:
        brand.append(i.text)
        
    Product = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Product[0:100]:
        ProductDescription.append(i.text)
        
    Pricess = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Pricess[0:100]:
        Price.append(i.text)
    
        
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)
        
print(brand)
print(ProductDescription)
print(Price)

['lejano', 'Longwalk', 'Magnolia', 'BRUTON', 'Sparx', 'aadi', 'ALDO', 'Dizzler', 'RED TAPE', 'Nobelite', 'Kraasa', 'bacca bucci', 'Sparx', 'Kraasa', 'BRUTON', 'Deals4you', 'HIGHLANDER', 'FILA', 'Reston', 'asian', 'PUMA', 'HIGHLANDER', 'asian', 'aadi', 'asian', 'asian', 'HIGHLANDER', 'HIGHLANDER', 'Magnolia', 'asian', 'HIGHLANDER', 'HIGHLANDER', 'Airson', 'PUMA', 'Free Kicks', 'HIGHLANDER', 'Longwalk', 'HIGHLANDER', 'LE GREEM', 'BRUTON', 'K- FOOTLANCE', 'K- FOOTLANCE', 'Kraasa', 'aadi', 'Labbin', 'BIRDE', 'Krors', 'ATOM', 'PUMA', 'PUMA', 'HOTSTYLE', 'Krors', 'PUMA', 'asian', 'aadi', 'RED TAPE', 'RapidBox', 'ATOM', 'aadi', 'ATOM', 'RED CHIEF', 'New Balance', 'BRUTON', 'PETER ENGLAND', 'asian', 'aadi', 'Zixer', 'RapidBox', 'MILESWALKER', 'Sparx', 'RapidBox', 'RapidBox', 'asian', 'asian', 'Sparx', 'asian', 'Zixer', 'SOLETHREADS', 'BIRDE', 'PUMA', 'lejano', 'PUMA', 'Magnolia', 'BRUTON', 'Sparx', 'aadi', 'ALDO', 'Dizzler', 'RED TAPE', 'Nobelite', 'Kraasa', 'bacca bucci', 'Sparx', 'Kraasa', 'BRUTON', 'Deals4you', 'HIGHLANDER', 'HIGHLANDER', 'Reston', 'asian', 'HIGHLANDER', 'HIGHLANDER', 'asian', 'aadi', 'asian', 'asian', 'HIGHLANDER', 'HIGHLANDER', 'Magnolia', 'asian', 'Longwalk', 'HIGHLANDER', 'Airson', 'PUMA', 'Free Kicks', 'HIGHLANDER', 'HIGHLANDER', 'HIGHLANDER', 'LE GREEM', 'BRUTON']
['Sneakers For Men', 'Perfect pink Stylish Girls Casual Shoes Sneakers For Wo...', 'Modern Trendy Sneakers boot Sneakers Sneakers For Men', 'Modern Trendy Shoes Sneakers For Men', 'SM-747 Sneakers For Men', 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...', 'Sneakers For Men', 'Sneakers For Men', 'Classic Sneakers For Men', 'SAINT Low top Classic Sneakers/Casual Shoes for Men Sne...', 'SM-734 Sneakers For Men', 'Sneakers For Women', 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...', 'Sneakers For Women', 'Sneakers For Men', 'Skypy-31 Shoes Sneakers For Men', 'Onehill Sneakers For Men', 'Sneakers For Men', 'Thunder-01 White Color Change Sneakers,Casuals,Loafer S...', 'Sneakers For Men', 'SM-162 Black Walking ,Training,Sneakers,Loafers,Canvas,...', 'Trendy-21 White Color Change Sneakers,Casuals,Loafers S...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Achiever-15 Grey Sneakers,Loafers,Casuals,Synthetic Sne...', 'Sneakers For Men', 'Sneakers For Men', 'Junior Zero1 Sports shoes for Men | Gym Training Walkin...', 'Hustle V2 Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Women', 'Sneakers For Men', 'Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...', 'Casual Sneakers ColourFul Block Shoes For Boys And Men ...', 'Combo Pack of 2 Casual Shoes Sneakers For Men', "Styles Men's Fashion Outdoor Trend High Top Sports Shoe...", 'Sneakers For Men', 'Hustle V2 Running Shoes For Men', 'Hustle V2 Sneakers For Men', 'Combo Pack Of 2 Sneakers For Men', "Styles Men's Fashion Outdoor Trend High Top Sports Shoe...", 'Hustle V2 Sneakers For Men', 'Achiever-16 Blue Sneakers,Casuals,Walking,Stylish Loafe...', 'Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...', 'Walking Sports Shoes for Women | Soft Cushioned Insole,...', 'Sneakers For Men', 'Sneakers For Men', 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...', 'Sneakers For Men', 'RC3505 022 Sneakers For Men', 'XC72 Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Sneakers For Men', 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...', 'Sneakers For Men', 'Sneakers For Men', 'Stylish Casual Sports Shoe Sneakers For Women Sneakers ...', 'SM-734 Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Newton-01 Grey Sports,Casual,Walking,Training,Gym,Styli...', "Men's W-05 Casual White Sneaker Shoes With Waterproof S...", 'Canvas Casual Partywear Outdoor Sneakers Shoes For Mens...', 'SM-162 Navy Blue Walking,Training ,Sneakers,Loafers,Can...', 'Sneakers Dancing Shoes/Street Dancing Shoe For Men/R.T....', 'Sneakers For Men', 'Combo Pack Of 2 Casual Shoes Sneakers For Men', 'Hustle V2 Sneakers For Men', 'Sneakers For Men', 'Onehill Sneakers For Men', 'Modern Trendy Sneakers boot Sneakers Sneakers For Men', 'Modern Trendy Shoes Sneakers For Men', 'SM-747 Sneakers For Men', 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...', 'Sneakers For Men', 'Sneakers For Men', 'Classic Sneakers For Men', 'SAINT Low top Classic Sneakers/Casual Shoes for Men Sne...', 'SM-734 Sneakers For Men', 'Sneakers For Women', 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...', 'Sneakers For Women', 'Sneakers For Men', 'Skypy-31 Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Thunder-01 White Color Change Sneakers,Casuals,Loafer S...', 'Sneakers For Men', 'SM-162 Black Walking ,Training,Sneakers,Loafers,Canvas,...', 'Trendy-21 White Color Change Sneakers,Casuals,Loafers S...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Achiever-15 Grey Sneakers,Loafers,Casuals,Synthetic Sne...', 'Sneakers For Women', 'Sneakers For Men', 'Junior Zero1 Sports shoes for Men | Gym Training Walkin...', 'Hustle V2 Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men']
['‚Çπ429', '‚Çπ399', '‚Çπ499', '‚Çπ299', '‚Çπ854', '‚Çπ437', '‚Çπ11,999', '‚Çπ509', '‚Çπ1,455', '‚Çπ469', '‚Çπ599', '‚Çπ1,499', '‚Çπ749', '‚Çπ399', '‚Çπ599', '‚Çπ599', '‚Çπ649', '‚Çπ3,107', '‚Çπ749', '‚Çπ509', '‚Çπ2,192', '‚Çπ796', '‚Çπ799', '‚Çπ499', '‚Çπ499', '‚Çπ649', '‚Çπ796', '‚Çπ796', '‚Çπ299', '‚Çπ549', '‚Çπ796', '‚Çπ497', '‚Çπ989', '‚Çπ1,399', '‚Çπ999', '‚Çπ696', '‚Çπ599', '‚Çπ696', '‚Çπ549', '‚Çπ549', '‚Çπ449', '‚Çπ449', '‚Çπ499', '‚Çπ427', '‚Çπ588', '‚Çπ479', '‚Çπ539', '‚Çπ1,389', '‚Çπ1,399', '‚Çπ1,399', '‚Çπ499', '‚Çπ539', '‚Çπ1,399', '‚Çπ574', '‚Çπ426', '‚Çπ1,028', '‚Çπ649', '‚Çπ1,285', '‚Çπ431', '‚Çπ1,389', '‚Çπ2,759', '‚Çπ6,759', '‚Çπ549', '‚Çπ1,099', '‚Çπ509', '‚Çπ399', '‚Çπ753', '‚Çπ649', '‚Çπ549', '‚Çπ749', '‚Çπ750', '‚Çπ649', '‚Çπ549', '‚Çπ674', '‚Çπ719', '‚Çπ499', '‚Çπ753', '‚Çπ1,099', '‚Çπ479', '‚Çπ1,399', '‚Çπ429', '‚Çπ2,192', '‚Çπ499', '‚Çπ299', '‚Çπ854', '‚Çπ437', '‚Çπ11,999', '‚Çπ509', '‚Çπ1,455', '‚Çπ469', '‚Çπ599', '‚Çπ1,499', '‚Çπ749', '‚Çπ399', '‚Çπ599', '‚Çπ599', '‚Çπ649', '‚Çπ796', '‚Çπ749', '‚Çπ509', '‚Çπ796', '‚Çπ796', '‚Çπ799', '‚Çπ499', '‚Çπ499', '‚Çπ649', '‚Çπ796', '‚Çπ497', '‚Çπ299', '‚Çπ549', '‚Çπ599', '‚Çπ696', '‚Çπ989', '‚Çπ1,399', '‚Çπ999', '‚Çπ696', '‚Çπ479', '‚Çπ549', '‚Çπ549']

In [72]:
print(len(brand),len(ProductDescription),len(Price))

120 110 119

In [73]:
Brand=brand[0:100]
len(Brand)

100

In [74]:
Product_Descriptionn = ProductDescription[0:100]
len(Product_Descriptionn)

100

In [75]:
Prices = Price[0:100]
len(Prices)

100

In [76]:
print(len(Brand),len(Product_Descriptionn),len(Prices))

100 100 100

In [77]:
import pandas as pd
df=pd.DataFrame({"Brand":Brand,"Product_Descriptionn":Product_Descriptionn,"Prices":Prices})
df

         Brand                               Product_Descriptionn Prices
0       lejano                                   Sneakers For Men   ‚Çπ429
1     Longwalk  Perfect pink Stylish Girls Casual Shoes Sneake...   ‚Çπ399
2     Magnolia  Modern Trendy Sneakers boot Sneakers Sneakers ...   ‚Çπ499
3       BRUTON               Modern Trendy Shoes Sneakers For Men   ‚Çπ299
4        Sparx                            SM-747 Sneakers For Men   ‚Çπ854
..         ...                                                ...    ...
95   Deals4you  SM-162 Black Walking ,Training,Sneakers,Loafer...   ‚Çπ599
96  HIGHLANDER  Trendy-21 White Color Change Sneakers,Casuals,...   ‚Çπ649
97  HIGHLANDER                                   Sneakers For Men   ‚Çπ796
98      Reston                                   Sneakers For Men   ‚Çπ749
99       asian                                   Sneakers For Men   ‚Çπ509

[100 rows x 3 columns]

# : 7  Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then 
set CPU Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image:

In [57]:
import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time                                      #use to stop search engine for few seconds



driver = webdriver.Chrome()

driver.get('https://www.amazon.in/')

In [58]:
enter = driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]')
enter.send_keys('Laptop')

In [59]:
search = driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')
search.click()

In [61]:
cpu_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[8]/ul[7]/span[13]/li/span')
cpu_filter.click()

In [62]:
title = []
Ratings = []
Price = []

In [63]:
tilte_tag = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in tilte_tag[0:10]:
    ftitle=i.text
    title.append(ftitle)
    
ratings_tag = driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in ratings_tag[0:10]:
    rate=i.text
    Ratings.append(rate)
    
price_tag = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tag[0:10]:
    pricess=i.text
    Price.append(pricess)
    
print(title)
print(Ratings)
print(Price)

['Dell Inspiron 5430 13th Gen', ', Intel i7-1360P/16GB/1TB SSD/14.0" (35.56CMs) FHD+ WVA AG with Comfortview Support 250 nits/Backlit KB+FPR/Win 11+MSO\'21/15 Month McAfee/Platinum Silver/1.59KGs', 'Lenovo ThinkPad E14 Intel Core i7 12th Gen 14" FHD IPS Thin and Light', '(16GB RAM/512GB SSD/Windows 11 Home/MS Office H&S 2021/Backlit Keyboard/FPR/Black/1.59 kg), 21E3S05B00', 'ASUS ROG Zephyrus G16, 16-inch (40.64 cms) FHD+ 165Hz, Intel Core i7-12700H 12th Gen, RTX 4050 6GB Graphics, Gaming', '', 'HP Pavilion 14, 11Th Gen Intel Core I7-16Gb Ram/1Tb Ssd 14 Inches', '/Intel Iris Xe Graphics/Backlit Keyboard/Alexa/B&O Audio/Fast Charge/Fpr/Windows 11 Home/Ms Office, 14-Dv1029Tu,Natural Silver', 'Acer Aspire 5 Gaming', 'Intel Core i7 13th Gen (8 GB/512 GB SSD/Windows 11 Home/4 GB Graphics/NVIDIA GeForce RTX 2050) A514-56GM,14" WUXGA Display, 1.56 KG']
['2', '19', '1', '25', '5', '74', '181', '135', '5', '2']
['86,420', '93,990', '1,44,990', '79,990', '80,990', '62,990', '80,990', '66,663', '96,490', '76,990']

In [65]:
print(len(title),len(Ratings),len(Price))

10 10 10

In [66]:
import pandas as pd
df=pd.DataFrame({'Title':title,'Ratings':Ratings,'Price':Price})
df

                                               Title Ratings     Price
0                        Dell Inspiron 5430 13th Gen       2    86,420
1  , Intel i7-1360P/16GB/1TB SSD/14.0" (35.56CMs)...      19    93,990
2  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...       1  1,44,990
3  (16GB RAM/512GB SSD/Windows 11 Home/MS Office ...      25    79,990
4  ASUS ROG Zephyrus G16, 16-inch (40.64 cms) FHD...       5    80,990
5                                                         74    62,990
6  HP Pavilion 14, 11Th Gen Intel Core I7-16Gb Ra...     181    80,990
7  /Intel Iris Xe Graphics/Backlit Keyboard/Alexa...     135    66,663
8                               Acer Aspire 5 Gaming       5    96,490
9  Intel Core i7 13th Gen (8 GB/512 GB SSD/Window...       2    76,990

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:

In [76]:
import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time                                      #use to stop search engine for few seconds



driver = webdriver.Chrome()

driver.get('https://www.azquotes.com/')

In [77]:
clickss= driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]')
clickss.click()

In [78]:
Quote = [] 
Author = []
Type_Of_Quotes= []

In [79]:
start = 0
end = 10

for page in range(start,end):
    qoute_tag = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in qoute_tag[0:1000]:
        Quote.append(i.text)
        
    author_tag = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tag[0:1000]:
        Author.append(i.text)
        
    type_of_quotes = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_of_quotes[0:1000]:
        Type_Of_Quotes.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
    next_button.click()
    time.sleep(4)

In [81]:
print(len(Quote),len(Author),len(Type_Of_Quotes))

1000 1000 1000

In [82]:
import pandas as pd
df = pd.DataFrame({'Quote':Quote,'Author':Author,'Type_Of_Quotes':Type_Of_Quotes})
df

,Quote,Author,Type_Of_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.

In [156]:
import selenium 
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
driver = webdriver.Chrome()
driver.get(' https://www.jagranjosh.com/')

In [157]:
gk = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]')
gk.click()

In [159]:
prime = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]')
prime.click()

In [160]:
names = []
born_dead = []
term_of_office = []
remarks = []

In [161]:
prime_ministers_elements = driver.find_elements(By.TAG_NAME, 'td')

# Initialize lists to store each attribute of Prime Ministers

# Process the data and store each Prime Minister's details in separate lists using a for loop
for element in prime_ministers_elements[1::5]:
    names.append(element.text)

for element in prime_ministers_elements[2::5]:
    born_dead.append(element.text)

for element in prime_ministers_elements[3::5]:
    term_of_office.append(element.text)

for element in prime_ministers_elements[4::5]:
    remarks.append(element.text)

In [163]:
print(len(names),len(born_dead),len(term_of_office),len(remarks))

20 19 19 19

In [170]:
names.pop()

'List of Nicknames of Indian Prime Ministers'

In [171]:
print(len(names),len(born_dead),len(term_of_office),len(remarks))

19 19 19 19

In [172]:
import pandas as pd
df=pd.DataFrame({'Name':names,'Born':born_dead,'term':term_of_office,'Remarks':remarks})
df

,Name,Born,term,Remarks
0,Jawahar Lal Nehru,(1889‚Äì1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904‚Äì1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917‚Äì1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896‚Äì1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902‚Äì1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917‚Äì1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944‚Äì1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931‚Äì2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927‚Äì2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921‚Äì2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919‚Äì2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

# question 10 Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/

In [1]:
!pip install selenium

# Let's import all required libraries

import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time                                      #use to stop search engine for few seconds



driver = webdriver.Chrome()

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: attrs>=20.1.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
driver.get("https://www.motor1.com/")

In [3]:
price = driver.find_element(By.XPATH,'//input[@class="m1-search-panel-input m1-search-form-text"]')
price.send_keys(' 50 Most expensive cars in the world')

In [4]:
search = driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search.click()

In [5]:
search = driver.find_element(By.XPATH,'//span[@class="play-button-svg absolute-centered"]')
search.click()

In [6]:
car_name=[]
car_price=[]

In [7]:
car_tag = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tag[0:50]:
    car=i.text
    car_name.append(car)

In [8]:
price_tag=driver.find_elements(By.TAG_NAME,'strong')
for i in price_tag[0:51]:
    prices = i.text.split("Price: ")[-1]
    car_price.append(prices)

In [9]:
car_name

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profil√©e',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [10]:
len(car_name)

50

In [11]:
car_price

['$1.3 Million',
 '$1.4 Million',
 '$1.4 Million',
 '',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.8 Million',
 '$1.9 Million',
 '$1.9 Million',
 '$2.0 Million',
 '$2.0 Million',
 '$2.0 Million*',
 '$2.1 Million',
 '$2.3 Million',
 '$2.3 Million',
 '$2.3 Million',
 '$2.4 Million',
 '$2.5 Million',
 '$2.5 Million',
 '$2.6 Million',
 '$2.6 Million',
 '$2.6 Million',
 '$2.7 Million',
 '$3.0 Million',
 '$3.0 Million',
 '$3.0 Million',
 '$3.2 Million',
 '$3.4 Million',
 '$3.5 Million',
 '$3.5 Million',
 '$3.6 Million',
 '$3.6 million',
 '$3.7 Million',
 '$3.9 Million',
 '$4.5 Million',
 '$4.7 Million',
 '$5.0 Million',
 '$5.4 Million',
 '$5.8 Million',
 '$6.4 Million',
 '$7.4 Million',
 '$8.0 Million',
 '$9.0 Million',
 '$10.8 Million',
 '$12.8 Million',
 '$13.4 Million',
 '$28.0 Million (est.)']

In [12]:
car_prices=car_price[0:50]

In [13]:
import pandas as pd
df=pd.DataFrame({"Top 50 cars":car_name,"top 50 cars price":car_prices})
df

                        Top 50 cars top 50 cars price
0                     De Tomaso P72      $1.3 Million
1                 Ferrari LaFerrari      $1.4 Million
2                     Pagani Huayra      $1.4 Million
3                      McLaren Elva
4                       Czinger 21C      $1.7 Million
5                     Ferrari Monza      $1.7 Million
6                Gordon Murray T.33      $1.7 Million
7                 Koenigsegg Gemera      $1.7 Million
8                       Zenvo TSR-S      $1.7 Million
9                Hennessey Venom F5      $1.7 Million
10                  Bentley Bacalar      $1.8 Million
11    Hispano Suiza Carmen Boulogne      $1.9 Million
12           Bentley Mulliner Batur      $1.9 Million
13                     Deus Vayanne      $2.0 Million
14                      SSC Tuatara      $2.0 Million
15                      Lotus Evija     $2.0 Million*
16              Aston Martin Vulcan      $2.1 Million
17                       Delage D12      $2.3 Million
18                McLaren Speedtail      $2.3 Million
19                     Rimac Nevera      $2.3 Million
20                    Pagani Utopia      $2.4 Million
21             Pininfarina Battista      $2.5 Million
22                Ferrari FXX K Evo      $2.5 Million
23               Gordon Murray T.50      $2.6 Million
24             Lamborghini Countach      $2.6 Million
25         Mercedes-AMG Project One      $2.6 Million
26              Aston Martin Victor      $2.7 Million
27      Hennessey Venom F5 Roadster      $3.0 Million
28                 Koenigsegg Jesko      $3.0 Million
29            Aston Martin Valkyrie      $3.0 Million
30        W Motors Lykan Hypersport      $3.2 Million
31                    McLaren Solus      $3.4 Million
32        Pagani Huayra Roadster BC      $3.5 Million
33         Bugatti Chiron Pur Sport      $3.5 Million
34                 Lamborghini Sian      $3.6 Million
35                 Koenigsegg CC850      $3.6 million
36  Bugatti Chiron Super Sport 300+      $3.7 Million
37               Lamborghini Veneno      $3.9 Million
38                   Bugatti Bolide      $4.5 Million
39                  Bugatti Mistral      $4.7 Million
40              Pagani Huayra Imola      $5.0 Million
41                     Bugatti Divo      $5.4 Million
42              SP Automotive Chaos      $5.8 Million
43                 Pagani Codalunga      $6.4 Million
44         Mercedes-Maybach Exelero      $7.4 Million
45               Bugatti Centodieci      $8.0 Million
46          Bugatti Chiron Profil√©e      $9.0 Million
47             Rolls-Royce Sweptail     $10.8 Million
48         Bugatti La Voiture Noire     $12.8 Million
49           Rolls-Royce Boat Tail*     $13.4 Million